/* div{
    border: 1px solid black;
}
p{
    border: 1px solid black;
} */
.list_font{
    color: green;
}
ul>li>a{
    font-weight: normal;
    color: white;
}
ul>li>a:hover{
    background-color: white;
    color: black;
}
.back_ground{
    background-color: #F2F6FA;
}
.back_ground_sidebar{
    background-color: #2D2F48;
}
.photo{
    width:200px;
    height:200px;
}
.photo2{
    width:19vh;
    height:18vh;
    float :right;
}
.card_font{
    color: chocolate;
}
.card_title{
    font-weight: Bold;
    letter-spacing: 0.48px;
    color: #2D2F48;
    font-family: 'Montserrat', sans-serif;
}
.card_text{
    letter-spacing: 0.36px;
    color: #2D2F48;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
.card_link{
text-align: left;
text-decoration: underline;
font: Bold 18px/22px Montserrat;
letter-spacing: 0.36px;
color: #34A853;
opacity: 1;
}
.card_background{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;    
}

.header_background{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-top-left-radius: 41px;
    border-top-right-radius: 41px;
    opacity: 1;    
}

.central{
    height: 25vh;
   font-weight: bold;
}
.create_profile_pix{
    background: transparent linear-gradient(180deg, #2D2F48 0%, #09090E 100%) 0% 0% no-repeat padding-box;
    border-radius: 73px;
    opacity: 0.9;
    z-index: -1;  
}
.create_profile_img{
    /* width: 55vh;
    height: 60vh; */
    width: 50%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;   
}

.bd-img::before{
    content: '';
    background: transparent linear-gradient(100deg, #2D2F48 0%, #001550A6 47%, #00155073 100%) 0% 0% no-repeat padding-box;
    /* background: transparent linear-gradient(180deg, #2D2F48 0%, #09090E 100%) 0% 0% no-repeat padding-box; */
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bd-img{
    background-image: url('../images/profilepix.png');
    height: 90vh;
    width: 100%;
    /* background-size: 900px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.CreateProfile{
    width: 100%;
    background: #F2F6FA 0% 0% no-repeat padding-box;
    opacity: 1;    
   
}
.decagon_words{
    z-index: 10;
    position: relative;
}